<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addProyecto.css">
    <title>Añadir Nuevo Proyecto</title>
</head>
<body>

<div class="container">
    <h2>Agregar Nuevo Proyecto</h2>
    <form id="proyecto-form">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" required>
        </div>
        <div class="form-group">
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" required>
        </div>
        <div class="form-group">
            <label for="codigoPostal">Código Postal:</label>
            <input type="tel" id="codigoPostal" name="codigoPostal" required maxlength="5" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        </div>
        <div class="form-group">
            <label for="fechaInicio">Fecha Inicio:</label>
            <input type="date" id="fechaInicio" name="fechaInicio" required>
        </div>
        <div class="form-group">
            <label for="fechaFin">Fecha Fin:</label>
            <input type="date" id="fechaFin" name="fechaFin">
        <div class="form-group">
                <label for="cliente">Cliente:</label>
                <input type="text" id="cliente" name="cliente" list="lista-clientes" placeholder="Busca un cliente..." required autocomplete="off">
                <input type="hidden" id="cliente_id" name="cliente_id">
                <datalist id="lista-clientes"></datalist>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-submit">Guardar Proyecto</button>
            <button type="button" class="btn-volver" onclick="volverAlIndex()">Volver al Index</button>
        </div>
    </form>
</div>
<script src="/js/addProyecto.js"></script>
</body>
</html>