<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Panel de Gestión</title>
</head>
<body>
    <script src="/js/index.js"></script>
    <div class="container">
        
        <h2>Panel de Gestión Financiera</h2>
        
        <div class="nav-group">
            
            <a href="#" class="btn-submit" id="trabajador">Trabajador</a>

            <a href="#" class="btn-submit" id="proyecto">Proyeto</a>

            <a href="#" class="btn-submit" id="horas">Horas</a>

            <a href="#" class="btn-submit" id="gastos">Gastos</a>
            
            <a href="#" class="btn-submit" id="presupuestos">Presupuestos</a>

            <a href="#" class="btn-submit" id="facturas">Facturas</a>
            
            <a href="#" class="btn-submit" id="clientes">Clientes</a>
            

            <a href="#" class="btn-submit" id="salir">Cerrar Sesión</a>

        </div>
    </div>
</body>
</html>