<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gastos_form.css">
    <title>Gestión de Gastos</title>
</head>
<body>

<div class="container">
    <h2>Agregar Nuevo Gasto</h2>
    <form id="gasto-form">
        <div class="form-group">
            <label for="proveedor">Proveedor:</label>
            <input type="text" id="proveedor" name="proveedor" required>
        </div>
        <div class="form-group">
            <label for="fechaEmision">Fecha de Emisión:</label>
            <input type="date" id="fechaEmision" name="fechaEmision" required>
        </div>
        <div class="form-group">
            <label for="numero">Número de Factura/Gasto:</label>
            <input type="text" id="numero" name="numero">
        </div>
        <div class="form-group">
                <label for="cliente">Cliente:</label>
                <input type="text" id="cliente" name="cliente" list="lista-clientes" placeholder="Busca un cliente..." required autocomplete="off">
                <input type="hidden" id="cliente_id" name="cliente_id">
                <datalist id="lista-clientes"></datalist>
            </div>
            <div class="form-group">
                <label for="proyecto">Proyecto:</label>
                <input type="text" id="proyecto" name="proyecto" list="lista-proyectos" placeholder="Busca un proyecto..." required autocomplete="off">
                <input type="hidden" id="proyecto_id" name="proyecto_id">
                <datalist id="lista-proyectos"></datalist>
            </div>
        <div class="form-group">
            <label for="importe_sin_iva">Importe Sin Iva:</label>
            <input type="text" id="importe_sin_iva" name="importe_sin_iva" step="0.01" required oninput="this.value = this.value.replace(/[^0-9.,]/g, '')">
        </div>
        <div class="form-group">
            <label>Tipo de IVA:</label>
            <div class="radio-group">
                <label for="iva_21">
                    <input type="radio" id="iva_21" name="tipo_iva" value="21" checked> 21%
                </label>
                <label for="iva_10">
                    <input type="radio" id="iva_10" name="tipo_iva" value="10"> 10%
                </label>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-submit">Guardar Gasto</button>
            <button type="button" class="btn-volver" onclick="volverAlIndex()">Volver al Index</button>
        </div>
    </form>
</div>
<script src="/js/putGasto.js"></script>
</body>
</html>